<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <!-- include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>

    <script type="text/javascript" th:inline="javascript">

        function uploadMessage(spaceId) {
            const link = /*[[@{/admin/uploadMessagesJson}]]*/'';
            var file = document.getElementById(spaceId + '-message').files[0];
            var formData = new FormData();
            formData.append('file', file);
            formData.append('spaceId', spaceId);
            $.ajax({
                url: link,
                type: 'post',
                processData: false,
                contentType: false,
                data: formData,
                dataType: "html",
                async: false
            }).done(function (data) {
                $('#' + spaceId + '-message-filename').val(data);
            }).fail(function (jqXHR) {
                throw new Error(jqXHR.responseText);
            }).always(function () {
            });
        }

        function uploadGroupInfo(spaceId) {
            const link = /*[[@{/admin/uploadGroupInfoJson}]]*/'';
            var file = document.getElementById(spaceId + '-group').files[0];
            var formData = new FormData();
            formData.append('file', file);
            formData.append('spaceId', spaceId);
            $.ajax({
                url: link,
                type: 'post',
                processData: false,
                contentType: false,
                data: formData,
                dataType: "html",
                async: false
            }).done(function (data) {
                $('#' + spaceId + '-group-filename').val(data);
            }).fail(function (jqXHR) {
                throw new Error(jqXHR.responseText);
            }).always(function () {
            });

        }

        function importJson(spaceId) {
            const link = /*[[@{/admin/importJson}]]*/'';
            var taskId;
            $.ajax({
                url: link,
                type: 'get',
                data: { spaceId: spaceId, filenameOfMessagesJson: $('#' + spaceId + '-message-filename').val(), filenameOfGroupInfoJson: $('#' + spaceId + '-group-filename').val() },
                dataType: "html",
                async: false
            }).done(function (data) {
                taskId = data;
            }).fail(function (jqXHR) {
                throw new Error(jqXHR.responseText);
            }).always(function () {
            });
            return taskId;
        }

        function setUploadDialog(state, message) {
            var importButton = document.getElementById('import-trigger');
            var cancelButton = document.getElementById('cancel-trigger');
            var statusMessage = document.getElementById('upload-dialog-message');

            switch (state) {
                case "init":
                    importButton.disabled = false;
                    importButton.textContent = '実行';
                    cancelButton.disabled = false;
                    cancelButton.textContent = '閉じる';
                    statusMessage.textContent = '';
                    statusMessage.classList.remove(...statusMessage.classList);
                    break;
                case "inprogress":
                    importButton.disabled = true;
                    importButton.textContent = '実行';
                    cancelButton.disabled = false;
                    cancelButton.textContent = '閉じる';
                    statusMessage.textContent = '';
                    statusMessage.classList.remove(...statusMessage.classList);
                    statusMessage.classList.add('warn');
                    statusMessage.textContent = message;
                    break;
                case "success":
                    importButton.disabled = true;
                    cancelButton.disabled = false;
                    cancelButton.textContent = '閉じる';
                    cancelButton.onclick = function () {
                        location.href = /*[[@{/admin/spaces}]]*/'';
                    };
                    statusMessage.classList.remove(...statusMessage.classList);
                    statusMessage.classList.add('success');
                    statusMessage.textContent = 'インポートが正常に完了しました。';
                    break;
                case "failure":
                    importButton.disabled = true;
                    cancelButton.disabled = false;
                    cancelButton.textContent = '閉じる';
                    statusMessage.classList.remove(...statusMessage.classList);
                    statusMessage.classList.add('alert');
                    statusMessage.textContent = message;
                    break;
            }

        }

        function pollingUntilImported(taskId) {
            const link = /*[[@{/admin/importStatus/}]]*/'';
            $.ajax({
                url: link + taskId,
                type: 'get',
                dataType: "json",
                async: false,
            }).done(function (data) {
                switch (data.status) {
                    case 'SUCCEEDED':
                        setUploadDialog('success');
                        break;
                    case 'FAILED':
                        setUploadDialog('failure', 'インポートに失敗しました。' + data.errorMessage);
                        break;
                    case 'IN_PROGRESS':
                        setUploadDialog('inprogress', 'インポートが実行中です。');
                        setTimeout(pollingUntilImported, 5000, taskId);
                        break;
                    case 'REGISTERED':
                        setTimeout(pollingUntilImported, 5000, taskId);
                        break;
                }
            }).fail(function (jqXHR) {
                throw new Error(jqXHR.responseText);
            }).always(function () {
            });
        }


        function uploadImport(spaceId) {
            setUploadDialog('init');

            var messageFile = document.getElementById(spaceId + '-message').files[0];
            var groupFile = document.getElementById(spaceId + '-group').files[0];

            if (messageFile == null || groupFile == null) {
                setUploadDialog('failure', 'ファイルが選択されていません。');
                document.getElementById('upload-dialog').showModal();
                return;
            }

            if ("messages.json" != messageFile.name || "group_info.json" != groupFile.name) {
                setUploadDialog('failure', 'ファイル名が正しくありません。');
                document.getElementById('upload-dialog').showModal();
                return;
            }

            document.getElementById('import-trigger').onclick = function () {
                setUploadDialog('inprogress', 'インポートの実行が予約されました。');

                try {
                    uploadMessage(spaceId);
                    uploadGroupInfo(spaceId);
                    var taskId = importJson(spaceId);
                    pollingUntilImported(taskId);
                } catch (e) {
                    setUploadDialog('failure', 'インポートに失敗しました。' + e.message);
                }
            };
            document.getElementById('upload-dialog').showModal();

        }

        function showSpaceAddForm() {
            $('#add-space-form').find(':text').val("");
            $('#add-submit-trigger').disabled = false;
            var dialog = document.getElementById('add-space-dialog');
            dialog.showModal();

        }

        function addSpace() {
            const link = /*[[@{/admin/addSpace}]]*/'';
            $('#add-submit-trigger').disabled = true;
            let formData = $('#add-space-form');
            $.ajax(link, {
                type: "post",
                processData: true,
                data: formData.serialize(),
                dataType: "html"
            }).done(function (e) {
                location.href = /*[[@{/admin/spaces}]]*/'';
            }).fail(function (e) {
                alert(e.responseText);
            });
        }

        function showSpaceDeleteForm() {
            if ($('input[name="space-selector"]:checked').length == 0) {
                alert('スペースを選択してください。');
                return;
            }
            var dialog = document.getElementById('delete-space-dialog');
            dialog.showModal();
        }

        function deleteSpace() {
            const link = /*[[@{/admin/deleteSpace}]]*/'';
            $('#delete-submit-trigger').disabled = true;
            $.ajax(link, {
                type: "delete",
                processData: true,
                data: { spaceId: $('input[name="space-selector"]:checked').val() },
                dataType: "html"
            }).done(function (e) {
                location.href = /*[[@{/admin/spaces}]]*/'';
            }).fail(function (e) {
                alert(e.responseText);
            });
        }

        $(function () {
            $('.file_label input[type=file]').on('change', function () {
                var id = $(this)[0].id;
                var file = $(this).prop('files')[0];
                $('#' + id + '-p').text(file.name);
            });
        });

        // for csrf 
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });

    </script>
</head>

<body>
    <div layout:fragment="contents">
        <div class="header-pagenator">
            <h2>DB登録済みのスペース一覧 (<span th:text="${spaceCount}"></span>)</h2>
            <div>
                <input type="button" onclick="showSpaceAddForm();" value="スペース追加" />
                <input type="button" onclick="showSpaceDeleteForm();" value="スペース削除" />
            </div>
        </div>
        <table border="1">
            <tr>
                <th width="25px"></th>
                <th width="100px">space id</th>
                <th>space name</th>
                <th width="60px">access state</th>
                <th width="90px">member count</th>
                <th width="90px">message count</th>
                <th width="120px">last imported user</th>
                <th width="120px">last imported date</th>
                <th witdh="200px">messages.json</th>
                <th witdh="200px">group_info.json</th>
                <th width="90px">import</th>
                <th width="80px">import status</th>
            </tr>
            <tr th:each="space:${spaceList}">
                <td><input type="radio" name="space-selector" th:value="${space.spaceId}" /></td>
                <td><a th:href="@{/{space.spaceId}/messages(space.spaceId=${space.spaceId})}">
                        <span th:text="${space.spaceId}"></span></td>
                </a>
                <td><span th:text="${space.displayName}"></span></td>
                <td><span th:text="${space.accessState}"></span></td>
                <td><span th:text="${space.memberCount}"></span></td>
                <td><span th:text="${space.messageCount}"></span></td>
                <td><span th:text="${space.lastImportedUser}"></span></td>
                <td><span th:text="${#temporals.format(space.lastImportedDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                <td><label class="file_label">ファイルを選択
                        <input type="file" th:id="${space.spaceId} + '-message'" class="json-uploader"
                            accept="messages.json"></input>
                    </label>
                    <p class="file_name" th:id="${space.spaceId} + '-message-p'">未選択</p>
                    <input type="hidden" th:id="${space.spaceId} + '-message-filename'"></input>
                </td>
                <td>
                    <label class="file_label">ファイルを選択
                        <input type="file" th:id="${space.spaceId} + '-group'" class="json-uploader"
                            accept="group-info.json"></input>
                    </label>
                    <p class="file_name" th:id="${space.spaceId} + '-group-p'">未選択</p>
                    <input type="hidden" th:id="${space.spaceId} + '-group-filename'"></input>
                </td>
                <td>
                    <button th:onclick="|uploadImport('__${space.spaceId}__');|"
                        style="padding-left:10px;padding-right:10px;">インポート</button>
                </td>
                <td>
                    <th:block th:switch="${space.importStatus}">
                        <span th:case=0></span>
                        <span th:case=1>🔄️</span>
                        <span th:case=2>✅</span>
                        <span th:case=9>❌️</span>
                        <span th:case=*></span>
                    </th:block>
                </td>
            </tr>
        </table>

        <dialog id="upload-dialog" style="width:640px; height:480px;">
            <header>メッセージデータのインポート</header>
            <p id="upload-dialog-message"></p>
            <p>メッセージデータのインポートを実行します。よろしいですか？</p>
            <ul>
                <li>300MBを超えるファイルはアップロードできません。</li>
                <li>インポートを高速化するために、全文検索インデックスの一時無効化を推奨します。</li>
                <li>既にインポート済みのメッセージは削除されます。この操作が失敗した場合、削除はロールバックされます。</li>
            </ul>
            <div style="position:absolute; bottom:20px; right:20px;">
                <button id="import-trigger">実行</button>
                <button id="cancel-trigger" onclick="document.getElementById('upload-dialog').close()">キャンセル</button>
            </div>
        </dialog>


        <dialog id="add-space-dialog" style="width:640px; height:480px;">
            <header>スペースの追加</header>
            <form method="post" id="add-space-form">
                <label for="form-spaceId">space id</label>
                <input type="text" id="form-spaceId" name="spaceId" style="width:400px;" />

                <label for="form-spaceName">space name</label>
                <input type="text" id="form-spaceName" name="spaceName" style="width:400px;" />

                <div>
                    <label for="access-state-selector">access state</label>
                    <div id="access-state-selector">
                        <input type="radio" name="accessState" value="PRIVATE" />PRIVATE
                        <input type="radio" name="accessState" value="DISCOVERABLE" />DISCOVERABLE
                    </div>
                </div>
            </form>
            <div style="position:absolute; bottom:20px; right:20px;">
                <button id="add-submit-trigger" onclick="addSpace();">登録</button>
                <button id="add-cancel-trigger"
                    onclick="document.getElementById('add-space-dialog').close()">キャンセル</button>
            </div>
        </dialog>

        <dialog id="delete-space-dialog" style="width:640px; height:480px;">
            <header>スペースの削除</header>
            <p class="alert">この操作は取り消せません。本当に実行しますか？</p>
            <div style="position:absolute; bottom:20px; right:20px;">
                <button id="delete-submit-trigger" onclick="deleteSpace();">実行</button>
                <button id="delete-cancel-trigger"
                    onclick="document.getElementById('delete-space-dialog').close()">キャンセル</button>
            </div>
        </dialog>

    </div>


</body>

</html>