<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="contents">

        <div style="display: flex; min-height: 100vh;">
            <div style="min-width: 200px; padding: 10px 20px;">
                <ul>
                    <li><a th:href="@{/admin}">一般</a></li>
                    <li><a th:href="@{/admin/users}">ユーザー管理</a></li>
                    <li><a th:href="@{/admin/spaces}">スペース管理</a></li>
                </ul>
            </div>
            <div style="flex-grow: 1;">
                <h1>管理者向け設定</h1>

                <h2>お知らせ設定</h2>
                <form th:action="@{/updateNotice}" method="post">
                    <textarea name="notice" th:text="${notice}"></textarea>
                    <input type="submit" value="更新" />
                </form>

                <h2>メール設定</h2>
                <form th:action="@{/updateMailSettings}" method="post">
                    <div>
                        <span style="padding:10px;width:200px">SMTP Host</span>
                        <input type="text" name="smtpHost" th:value="${smtpHost}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">SMTP Port</span>
                        <input type="number" name="smtpPort" th:value="${smtpPort}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">SMTP Username</span>
                        <input type="text" name="smtpUsername" th:value="${smtpUsername}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">SMTP Password</span>
                        <input type="text" name="smtpPassword" th:value="${smtPassword}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">Mail From</span>
                        <input type="text" name="mailFrom" th:value="${mailFrom}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">Mail Subject</span>
                        <input type="text" name="mailSubject" th:value="${mailSubject}" />
                    </div>

                    <div>
                        <span style="padding:10px;width:200px">Mail Body</span>
                        <textarea name="mailBodyTemplate" th:value="${mailBodyTemplate}"></textarea>
                    </div>

                    <input type="submit" value="更新" />
                </form>


            </div>
        </div>


    </div>
</body>

</html>