<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="contents">


        <h2>お知らせ</h2>
        <section th:utext="${notice}"></section>
        <h2>あなたの登録情報</h2>
        <table border="1">
            <tr>
                <th>username</th>
                <th>role</th>
                <th>email for notification</th>
                <th>email for message identity</th>
            </tr>
            <tr th:each="user:${userList}">
                <td><span th:text="${user.username}"></span></td>
                <td><span th:text="${user.role}"></span></td>
                <td><span th:text="${user.emailForNotification}"></span></td>
                <td><span th:text="${user.emailForMessageIdentity}"></span></td>
            </tr>
        </table>

        <h2>あなたが参加していたスペース (<span th:text="${spaceCount}"></span>)</h2>
        <table border="1">
            <tr>
                <th>space id</th>
                <th>space name</th>
                <th>access state</th>
                <th>member count</th>
                <th>message count</th>
                <th>last imported user</th>
                <th>last imported date</th>
            </tr>
            <tr th:each="space:${spaceList}">
                <td><a th:href="@{/{space.spaceId}/messages(space.spaceId=${space.spaceId})}">
                        <span th:text="${space.spaceId}"></span></a></td>
                <td><span th:text="${space.displayName}"></span></td>
                <td><span th:text="${space.accessState}"></span></td>
                <td><span th:text="${space.memberCount}"></span></td>
                <td><span th:text="${space.messageCount}"></span></td>
                <td><span th:text="${space.lastImportedUser}"></span></td>
                <td><span th:text="${#temporals.format(space.lastImportedDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            </tr>
        </table>

    </div>
</body>

</html>