<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" href="favicon.ico" />
    <link th:href="@{/css/gchat.css}" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="nv-left" th:onclick="|location.href='@{/}'|"><span style="font-size:1.8em;">found</span></div>
        <div sec:authorize="isAuthenticated()" class="nv-right">
            <div><span sec:authentication="name"></span></div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </header>

    <div layout:fragment="contents">

    </div>
</body>

</html>