<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" th:href="@{/favicon.ico}" />
    <link th:href="@{/css/gchat.css}" rel="stylesheet" />
    <script th:if="${monitoringsnippet} != null" th:inline="javascript">
        /*[(${monitoringsnippet})]*/
    </script>
</head>

<body>

    <header>
        <div class="nv-left" th:onclick="|location.href='@{/}'|" style="cursor:pointer;"><span
                style="font-size:1.8em;">found</span></div>
        <div sec:authorize="isAuthenticated()" class="nv-right">
            <div><span sec:authentication="name"></span></div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </header>

    <div style="display: flex; min-height: 100vh;">
        <div style="min-width: 200px; padding: 10px 20px;" class="menu">
            <ul>
                <li><a th:href="@{/}">ホーム</a></li>
                <li><a th:href="@{/spaces}">スペースを探す</a></li>
                <li><a th:href="@{/messages}">メッセージを探す</a></li>
            </ul>
            <div sec:authorize="hasRole('ROLE_ADMIN')" style="margin-top:20px;">
                <span>管理者向け</span>
                <ul>
                    <li><a th:href="@{/admin/users}">ユーザー管理</a></li>
                    <li><a th:href="@{/admin/spaces}">スペース管理</a></li>
                    <li><a th:href="@{/admin/notice}">お知らせ設定</a></li>
                    <li><a th:href="@{/admin/mail}">メール設定</a></li>
                    <li><a th:href="@{/admin/fulltext}">全文検索設定</a></li>
                    <li><a th:href="@{/admin/monitoring}">モニタリング設定</a></li>
                </ul>
            </div>

        </div>
        <div style="flex-grow: 1;">
            <div layout:fragment="contents">
            </div>
        </div>
    </div>
</body>

</html>