<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="contents">

        <h1 th:text="${space.displayName}"></h1>


        <div class="readmore">
            <input id="readmore" type="checkbox">
            <label for="readmore"></label>
            <div class="readmore-content">
                <h2>スペース情報</h2>
                <table border="1">
                    <tr>
                        <th>spaceId</th>
                        <th>spaceName</th>
                        <th>accessState</th>
                        <th>memberCount</th>
                        <th>messageCount</th>
                        <th>imported</th>
                        <th>lastImportedUser</th>
                        <th>lastImportedDate</th>
                    </tr>
                    <tr>
                        <td><span th:text="${space.spaceId}"></span></td>
                        <td><span th:text="${space.displayName}"></span></td>
                        <td><span th:text="${space.accessState}"></span></td>
                        <td><span th:text="${space.memberCount}"></span></td>
                        <td><span th:text="${space.messageCount}"></span></td>
                        <td><span th:text="${space.imported}"></span></td>
                        <td><span th:text="${space.lastImportedUser}"></span></td>
                        <td><span th:text="${space.lastImportedDate}"></span></td>
                    </tr>
                </table>
                <h2>参加メンバー</h2>
                <span th:text="${space.memberIds}"></span>
            </div>
        </div>

        <div class="header-pagenator">
            <h2>メッセージ一覧</h2>
            <div>
                <input type="button" value="prev" th:disabled="${dateBefore == null}"
                    th:onclick="|location.href='@{/__${spaceId}__/messages?dateBefore=__${dateBefore}__}'|" />
                <input type="button" value="next" th:disabled="${dateFrom == null}"
                    th:onclick="|location.href='@{/__${spaceId}__/messages?dateFrom=__${dateFrom}__}'|" />
            </div>
        </div>
        <table border="1">
            <tr>
                <th width="30px"></th>
                <th width="120px">messageId</th>
                <th width="120px">creatorName</th>
                <th width="120px">creatorEmail</th>
                <th width="120px">createdDate</th>
                <th>messageText</th>
            </tr>
            <tr th:each="message:${messageList}">
                <td>
                    <th:block th:if="${!message.threadReply and message.hasReply}">
                        <div class="ant-table-row-expand-icon ant-table-row-collapsed"></div>
                    </th:block>
                    <th:block th:if="${message.threadReply}">
                        L
                    </th:block>
                </td>
                <td><span th:text="${message.messageId}"></span></td>
                <td><span th:text="${message.creatorName}"></span></td>
                <td><span th:text="${message.creatorEmail}"></span></td>
                <td><span th:text="${message.createdDate}"></span></td>
                <td><span th:text="${message.messageText}"></span></td>
            </tr>
        </table>
        <div class="header-pagenator">
            <div>
                <input type="button" value="prev" th:disabled="${dateBefore == null}"
                    th:onclick="|location.href='@{/__${spaceId}__/messages?dateBefore=__${dateBefore}__}'|" />
                <input type="button" value="next" th:disabled="${dateFrom == null}"
                    th:onclick="|location.href='@{/__${spaceId}__/messages?dateFrom=__${dateFrom}__}'|" />
            </div>
        </div>

    </div>
</body>

</html>