<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" th:href="@{/favicon.ico}" />
    <link th:href="@{/css/gchat.css}" rel="stylesheet" />
</head>

<body>

    <h2>パスワードの再発行</h2>
    <p>入力されたメールアドレスが登録されている場合、パスワード再発行のためのメールが送信されます。</p>
    <div>
        <div th:if="${successMessage != null}" th:text="${successMessage}" class="success" style="width:60%;">
        </div>
        <div th:if="${failureMessage != null}" th:text="${failureMessage}" class="alert" style="width:60%;">
        </div>
    </div>

    <form method="post" th:action="@{/pw-reset/send-token}">
        <div>
            <span style="padding:10px;width:200px">メールアドレス</span>
            <input type="text" name="email" autocomplete="on" style="width:400px;" />
        </div>
        <div style="margin-top:40px; margin-bottom:120px; display:inline-flex; align-items:center;">
            <input type="submit" value="パスワード再発行を要求" />
            <input type="button" value="戻る" th:onclick="history.back();" />
        </div>
    </form>


</body>

</html>