<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" th:href="@{/favicon.ico}" />
    <link th:href="@{/css/gchat.css}" rel="stylesheet" />
</head>

<body style="min-height: 100vh; display:flex; justify-content:center; align-items:center;">
    <div style="width:800px;height:400px;">
        <h2>パスワードの再発行</h2>
        <p>パスワードが更新されました。ログイン画面に戻り、新しいパスワードでログインしてください。</p>
        <a th:href="@{/login}">ログイン画面はこちら</a>

    </div>
</body>

</html>