<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <script type="text/javascript" th:inline="javascript">
        function search() {
            const link = /*[[@{/spaces}]]*/'';
            var spaceName = document.getElementById("keyword").value;
            var queryScope = document.querySelector("input[name='q1']:checked").value;

            location.href = link + "?"
                + "queryScope=" + queryScope + "&"
                + "displayName=" + encodeURIComponent(spaceName);
        }
    </script>
</head>

<body>
    <div layout:fragment="contents">

        <h2>スペースを探す</h2>

        <h3>検索条件</h3>
        <div class="search-area">
            <div>
                <span style="padding:10px;width:200px">スペース名</span>
                <input type="text" id="keyword" size="80" th:value="${keyword}"></input>
            </div>
            <div style="display:flex;">
                <span style="padding:10px;width:200px">検索スコープ</span>
                <div>
                    <label class="radio">
                        <input type="radio" name="q1" value="PRIVATE_DISCOVERABLE"
                            th:checked="${queryScope == null || queryScope eq 'PRIVATE_DISCOVERABLE'}" />自身が参加していたスペース全体
                    </label>
                    <label class="radio">
                        <input type="radio" name="q1" value="DISCOVERABLE"
                            th:checked="${queryScope} eq 'DISCOVERABLE'" />DISCOVERABLEなスペース全体(参加していないスペースを含む)
                    </label>
                </div>
            </div>
            <input type="button" value="検索" onclick="search();">
        </div>

        <h3>検索結果 <span th:if="${resultCount != null}" th:text="|${resultCount}件|"></span> <span
                th:if="${queryTime != null}" th:text="|(${queryTime}ミリ秒)|"></span></h3>
        <table border="1">
            <tr>
                <th>space id</th>
                <th>space name</th>
                <th>access state</th>
                <th>member count</th>
                <th>message count</th>
                <th>last imported user</th>
                <th>last imported date</th>
            </tr>
            <tr th:each="space:${spaceList}">
                <td><a th:href="@{/{space.spaceId}/messages(space.spaceId=${space.spaceId})}">
                        <span th:text="${space.spaceId}"></span></a></td>
                <td><span th:text="${space.displayName}"></span></td>
                <td><span th:text="${space.accessState}"></span></td>
                <td><span th:text="${space.memberCount}"></span></td>
                <td><span th:text="${space.messageCount}"></span></td>
                <td><span th:text="${space.lastImportedUser}"></span></td>
                <td><span th:text="${#temporals.format(space.lastImportedDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            </tr>
        </table>

    </div>
</body>

</html>